 <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Оберіть дію:</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <form action="/feed">
          <button type="submit" class="btn btn-outline-secondary btn-lg px-4">Нагодувати</button>
        </form>
        <form action="/walk">
          <button type="submit" class="btn btn-outline-secondary btn-lg px-4">Прогулянка</button>
        </form>
        <form action="/put_to_bed">
          <button type="submit" class="btn btn-outline-secondary btn-lg px-4">Сон</button>
        </form>
        <form action="/toss">
          <button type="submit" class="btn btn-outline-secondary btn-lg px-4">Підкинути</button>
        </form>
        <form action="/gym">
          <button type="submit" class="btn btn-outline-secondary btn-lg px-4">Тренування</button>
        </form>
        <form action="/talk">
          <button type="submit" class="btn btn-outline-secondary btn-lg px-4">Спілкування</button>
        </form>
        <form action="/hug">
          <button type="submit" class="btn btn-outline-secondary btn-lg px-4">Обійняти</button>
        </form>
        <form action="/wash">
          <button type="submit" class="btn btn-outline-secondary btn-lg px-4">Помити</button>
        </form>
        <form action="/treat">
          <button type="submit" class="btn btn-outline-secondary btn-lg px-4">Лікувати</button>
        </form>
        <form action="/watch">
          <button type="submit" class="btn btn-outline-secondary btn-lg px-4">Спостерігати</button>
        </form>
      </div>
    </div>