<!DOCTYPE html>
<html lang="en">
  <%= render '_header.html.erb'%>
  <body>
  <div class="px-4 py-5 my-5 text-center">
    <h1>&#129409;</h1>
    <h1 class="display-5 fw-bold"> Хей, мене звати <%= @pet.name %>, і тепер я планую любити тебе та проводити багато часу разом. Давай пошвидше знайдемо заняття для нас!)</h1>
    <hr>
    <%= render('_commands.html.erb')%>
    <%= render('_indicators.html.erb')%>
  </div>
  </body>
</html>