<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5">
      <div style="margin:0" class="col-lg-6 mg-0">
        <h1 class="display-5 fw-bold lh-1 mb-3"><%= @product.name %></h1>
        <p class="lead"><%= @product.description %></p>
        <h6 class="lead">Categories:</h6>
        <% @product.categories.each do |category|%>
        <h6 class="lead"> <%= category.title %></h6>
        <% end %>
        <p class="lead"><%= number_to_currency(@product.price) %></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Buy</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Add to order</button>
        </div>
      </div>
      <div style="margin:0" class="col-10 col-sm-8 col-lg-6">
        <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="@product.image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>