<%= turbo_stream_from "products" %>

<div class="col" %>
  <div class="card shadow-sm">
    <div class="album py-5 bg-light">
      <div class="container">
        <div id="products" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <% @products.each do |product| %>
            <%= render partial: 'products', locals: { product: product } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

