---
openapi: 3.0.1
info:
  title: API V1
  version: v1
paths:
  "/api/v1/articles":
    get:
      summary: list articles
      tags:
      - Articles
      parameters:
      - name: search
        in: query
        description: пошук в статті по title або body
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
          enum:
          - unpublished
          - published
        description: пошук по статусу статті (published/unpublished)
      - name: name
        in: query
        description: пошук статті по автору
        schema:
          type: string
      - name: tags
        in: query
        description: пошук статті по тегу
        schema:
          type: string
      - name: order
        in: query
        description: сорторування статей (asc/desc)
        schema:
          type: string
      responses:
        '200':
          description: successful
    post:
      summary: create article
      tags:
      - Articles
      parameters: []
      responses:
        '201':
          description: article created
        '422':
          description: invalid request
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                body:
                  type: string
                author_id:
                  type: integer
                stutus:
                  type: string
              required:
              - title
              - body
              - author_id
              - status
  "/api/v1/articles/{id}":
    parameters:
    - name: id
      in: path
      description: id
      required: true
      schema:
        type: string
    get:
      summary: show article
      tags:
      - Articles
      responses:
        '200':
          description: successful
        '404':
          description: blog not found
        '406':
          description: unsupported accept header
    put:
      summary: update article
      tags:
      - Articles
      parameters: []
      responses:
        '200':
          description: successful
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                body:
                  type: string
                stutus:
                  type: string
              required:
              - title
              - body
              - status
    delete:
      summary: delete article
      tags:
      - Articles
      responses:
        '200':
          description: successful
  "/api/v1/comments":
    get:
      summary: list comments
      tags:
      - Comments
      responses:
        '200':
          description: successful
    post:
      summary: create comment
      tags:
      - Comments
      parameters: []
      responses:
        '200':
          description: successful
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
                status:
                  type: string
                author_id:
                  type: integer
                article_id:
                  type: integer
              required:
              - body
              - status
              - author_id
              - article_id
  "/api/v1/comments/{comment_id}/update_status":
    parameters:
    - name: comment_id
      in: path
      description: comment_id
      required: true
      schema:
        type: string
    patch:
      summary: update_status comment
      tags:
      - Comments
      responses:
        '200':
          description: successful
  "/api/v1/comments/{id}":
    parameters:
    - name: id
      in: path
      description: id
      required: true
      schema:
        type: string
    put:
      summary: update comment
      tags:
      - Comments
      parameters: []
      responses:
        '200':
          description: successful
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
              required:
              - body
    delete:
      summary: delete comment
      tags:
      - Comments
      responses:
        '200':
          description: successful
servers:
- url: http://{defaultHost}
  variables:
    defaultHost:
      default: "[::1]:3000"
